<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_cache_flush_system">
        <observer name="mage_obsidian_twig_flush_compiled_templates"
                  instance="MageObsidian\ModernFrontendTwig\Observer\FlushCompiledTemplates"/>
    </event>
    <event name="adminhtml_cache_flush_all">
        <observer name="mage_obsidian_twig_flush_compiled_templates"
                  instance="MageObsidian\ModernFrontendTwig\Observer\FlushCompiledTemplates"/>
    </event>
</config>
